@page "/AddInv"
@inject IAddNewInventoryItemUseCase Add
@inject NavigationManager NM

<h3>Add Inventory</h3>
<br />
<InvFieldsComponent InvCallBack="@inv" />



@code {
    private Inventory inventory = new Inventory();
    private async void inv(Inventory inv)
    {
        inventory = inv;
        await Add.ExecuteAsync(inv);
        NM.NavigateTo("/invoentories");
    }
}
