<div class="input-group">
    <input type="text" class="form-control" placeholder="Search Inventory" @bind-value="inventoryNameToSearch" />
    <button type="button" class="btn-s input-group-text" @onclick="OnSearch">Search</button>
</div>
<br />
@code {
    private string inventoryNameToSearch = string.Empty;

    [Parameter]
    public EventCallback<string> OmSearchInventory { get; set; }   

    private void OnSearch()
    {
        OmSearchInventory.InvokeAsync(inventoryNameToSearch);  
    }
}
